@font-face {
	font-family: "ExocetHeavy";
	src: url("https://db.onlinewebfonts.com/t/4c4ffeb3108490ecc59eb6b0108cb6d6.eot");
	src: url("https://db.onlinewebfonts.com/t/4c4ffeb3108490ecc59eb6b0108cb6d6.eot?#iefix")
			format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/4c4ffeb3108490ecc59eb6b0108cb6d6.woff2") format("woff2"),
		url("https://db.onlinewebfonts.com/t/4c4ffeb3108490ecc59eb6b0108cb6d6.woff") format("woff"),
		url("https://db.onlinewebfonts.com/t/4c4ffeb3108490ecc59eb6b0108cb6d6.ttf") format("truetype"),
		url("https://db.onlinewebfonts.com/t/4c4ffeb3108490ecc59eb6b0108cb6d6.svg#ExocetHeavy")
			format("svg");
}

:root {
	--font-color: rgba(255, 255, 255, 0.87);

	font-family: "ExocetHeavy";
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;

	color-scheme: light dark;
	color: var(--font-color);
	background-color: #1d1d1d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	padding: 0;
	max-width: 1920px;
}

.red {
	color: rgb(243, 90, 90);
}

.green {
	color: #3ead3e;
}

.gray {
	color: rgb(180, 180, 180);
}

.normal {
	color: rgb(233, 233, 233);
}

.magic {
	color: rgb(138, 138, 250);
}

.rare {
	color: rgb(196, 196, 24);
}

.set {
	color: #45c245;
}

.unique {
	/* color: rgb(227, 108, 39); */
	color: #e9c69c;
}

.corrupted {
	color: #e15a38;
}

.ethereal {
	color: rgb(189, 184, 184);
}

button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 2px 16px;
	background-color: #a7811a;
	color: black;
	border-radius: 4px;
	cursor: pointer;
	width: fit-content;
}

button:hover {
	background-color: #cc9e20;
}

.label-input {
	display: flex;
	align-items: center;
	gap: 4px;
}

option {
	all: unset;
	font-family: "ExocetHeavy";
	text-transform: uppercase;
}

select,
input {
	/* why does firefox always have to be retarded with its styling? do i just fucking switch to chromium? */
	background-color: #282836;
	border: 1px solid gray;
	border-radius: 4px;
	color: var(--font-color);
	font-family: "ExocetHeavy";
	text-transform: uppercase;
	padding: 2px;
}

select:focus,
input:focus {
	outline: none;
}
